[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=/opt/fluxo/fluxo-app %U
Type=Application
Terminal=false
Exec="/opt/fluxo/fluxo-app" -m
Name=Fluxo
Comment=Fluxo
Categories=Network;
Icon="/opt/fluxo/fluxo-logo.svg"